.form-focus {
    outline: 0; 
    border-width: 0 0 0px; 
    border-color: black; 
    color: white; 
    background-color: black;
    width: 100%;
}

.form-focus:focus {
  border-color: black;
}

.textarea {
    outline: 0; 
    border-width: 2 2 2px;
    border-radius: 6px;
    border-color: yellow; 
    color: white; 
    background-color: black;
    width: 100%;
}

.glowtext {
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }
 .noidea {
    color: #4db1bc;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }
}
